@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap');

* {
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Rubik', sans-serif;
}

body{
  background:#000000;
  overflow:hidden; /*sayfada scroll'un cıkmasını önledik.*/

}

.container{
  max-width:1300px; /*maximum ulaşabileceği genişlik 1300px.*/
  margin:auto;
  /* padding-left:25px;
  padding-right:25px; */
  
}

.container .header{
  display:flex;
  /* color:white; */
  align-items:center;
  justify-content:space-between;
  padding:20px;
  /* border: 1px solid #ffffff; */
  margin:20px;
}

/*Arka plandaki ADIDAS yazısını yazalım. before ve after sözde sınıflarını kullanarak yapacagım. before ve after, tanımlandıgı elemanla ilgili
içeriğin başına ve sonuna eklenir.
*/


/*Arka plan ADIDAS yazısı.*/
.container .header:before{
  content : 'ADIDAS'; /*Arkadaki before yazısı.*/
  position:absolute;
  top:58%;
  left:53%;
  color:rgba(180,164,164,0.603);
  font-size:150px;
  opacity: 0.1;
  letter-spacing:5px;
  font-weight:bold;
  z-index:-1; /*ayakkabı ön planda yazı arka planda olması 
  için -1 verdik.*/
}


/* iconlarımız*/
.container .header i{ 
  color:#ffffff;
  cursor:pointer;
}


/* logodaki adidas yazısı */
.container .header p{
  color:#ffffff;
  font-weight:bold;
  cursor:pointer;
  font-size:25px;
}

.container .header .logo{ /* 3 çizgi vermek için */
  display:flex;
  align-items:center;
  cursor:pointer;
}

/* 3 çizgimiz */
.container .header .line{
  display:block; /* alt alta gelsin*/
  width:55px;
  height:2px;
  background-color:#ffffff;
  margin-bottom:4px;
  margin-right:5px;
  margin-top:5px;
}

/* Row - Section */
.container .row{
  display:flex;
  align-items:center;
  justify-content:space-around;
  flex-wrap:wrap;
}

.container .col-2{
  flex-basis:50%; /*ana kısmı 50% 50% olarak iki kısma böldük.*/
  min-width:300px;
}

.container .row .col-2 h1{
  color:#ffffff;
  font-size:60px; 
  line-height:60px;
  font-weight: bolder;
  letter-spacing:3px;
  margin-left:50px;
}

.container .row .col-2 p{
  color:#ffffff;
  font-size:14px;
  line-height:30px;
  margin-top:20px;
  margin-left:60px;
}

/*buton*/
.container .row .col-2 .btn{
  display:inline-block;
  text-decoration: none;
  color:#ffffff;
  padding:8px 20px;
  background-color:#fed81ae3;
  border-radius:35px;
  margin-top:45px;
  font-weight: 800;
  font-size:15px;
  transition: .3s all ease;
  margin-left:50px;
}

.container .row .col-2 .btn:hover{
  background-color:#75640ee7;
}


/* Ring - Section */

.col-2 .ring img{
  width:100%;
  max-width:510px;
}

#circle-ring{
  padding-left:70px;
  padding-top:40px;

}

.col-2 .ring{
  position:relative;
  width:400px;
  height:400px;
  background:transparent;
  border:3px solid #3c3c3c;
  border-radius:50%;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  z-index:-1;
}

/*daire yapimi*/
.col-2 .ring:before{
  content:'';
  position:absolute; /*absolute sayesinde top,left,bottom gibi
                      konumlandırma yapabiliyoruz.*/
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top : 3px solid #fcd120;
  border-right:3px solid #fcd120;
  border-radius:50%;
  z-index:-1;
  /* animation-name:returnCircle;
  animation-timing-function: 10s;
  animation-iteration-count: infinite;
  animation-timing-function:linear; */
  animation:returnCircle 10s linear infinite;
}

.col-2 .ring .circle {
  display:block;
  position:absolute;/*konumlandirma yapacagim için absolute verdik*/
  top:50%;
  left:50%;
  width:50%;
  height:4px;
  background-color:transparent;
  transform-origin:left;
  animation:littleCircle 10s linear infinite;
  z-index:-1;
}

/*küçük daireyi yapalim*/
.col-2 .ring .circle:before{
  content:'';
  position:absolute;
  top:-6px;
  right:-9px;
  width:16px;
  height:16px;
  background: #fcd120;
  z-index:-1;
  border-radius: 50%;
  box-shadow:0 0 20px #fcd120; /*küçük dairenin parlaklığı*/

}

@keyframes returnCircle{
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(360deg);
  }
}


@keyframes littleCircle{
    0%{
      transform : rotate(45deg);
    }
    100%{
      transform: rotate(405deg);
    }
}




